@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.hire-me::after, .hire-me::before {
    background-image: conic-gradient(from var(--angle) ,transparent 1%, #166534);
    animation: 2s spin linear infinite;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}